@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	background-color: #101623;
	color: #edf3ff;
	font-family: "Amiri", serif;
	height: 100vh;
    overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

h2 {
	color: #97a7ca;
	text-align: center;
}

label {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	border: 1px solid #97a7ca;
	padding: 5px 12px;
	border-radius: 25px;
}

input {
	background-color: transparent;
	padding: 5px 5px;
	border-color: #97a7ca;
	color: #edf3ff;
	border: none;
	border-radius: none;
	outline: none;
	font-size: 20px;
	width: 200px;
}

button {
	color: white;
	padding: 0;
	background-color: transparent;
	outline: none;
	font-size: 20px;
	cursor: pointer;
	border: none;
	transition: transform 0.5s ease;
}

span {
	margin-right: 5px
}

.material-icons {
	transition: transform 0.5s ease;
}
.material-icons:hover {
	transform: rotate(-180deg);
}


.show {
	display: none;
}












